.grid-pane{
	-fx-background-color:#F9F4F3;
	-fx-border-color:red;
}

.popup-grid{
	-fx-background-color:#F2E9E7;
	-fx-border-color:blue;
}

.form-title{
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-text-fill:brown;
}

.form-label{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-fill:brown;
}

.table-view .corner {
    -fx-background-color: transparent;
}


.table-row-cell {
    -fx-cell-size: 37px;
}

.table-row-cell: odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.button{
	-fx-background-color:#B2C2E8;
	-fx-border-color:blue;
}